body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    color: #00796b;
}

form {
    padding: 20px;
    border: 2px solid #00796b;
    width: 300px;
    margin: 50px auto;
    background-color: #b2dfdb;
    border-radius: 10px;
}
